<main class="h-[100vh] w-full md:flex justify-center items-center">
  <section class="md:flex md:bg-white md:rounded-md md:shadow-xl">
    <section class="md:flex md:bg-white md:shadow-lg md:rounded-xl">
      <section class="text-center rounded-b-[35px]  flex flex-col md:rounded-xl w-full md:min-w-[34vh] md:max-w-[40vh] p-[10px] bg-gradient-to-r to-slateBlue from-RoyaleBlue items-center">
  
        <p class="text-lavender font-medium font-Hanken my-[10px]">Your Result</p>
  
        <section class="shadow-lg rounded-[100%] bg-gradient-to-r from-PersianBlue to-VioletBlue min-w-[19vh] max-w-[23vh] h-[19vh] justify-center items-center flex flex-col my-[10px]">
          <h1 class="text-white font-Hanken text-[50px] font-bold">76</h1>
          <p class="text-sm text-lavender font-medium">out of 100</p>
        </section>
        
        <h3 class="text-white font-medium font-Hanken text-2xl mt-[15px]">Great</h3>
        <p class="font-Hanken font-medium text-lavender my-[5px] flex flex-wrap text-center mx-auto">You scored higher than 65% of the people who have taken these tests.</p>
      </section>
    </section>
    <section class="p-[10px] overflow-y-scroll">
      <h2 class="text-darkGray font-medium text-[19px] mx-[5px] my-[5px] font-Hanken">Summary</h2>
      <section class="rounded rounded-md font-Hanken flex justify-between p-[15px] bg-opacity-10 bg-lightRed my-[15px]">
  
        <section class="flex mx-[10px]">
          <img src="../assets/images/icon-reaction.svg" alt="Reaction icon">
          <h4 class="text-lightRed mx-[10px] font-Hanken font-medium">Reaction</h4>
        </section>
        <section class="mx-[10px] font-medium">
          <h3>80 <span class="text-lavender">/ 100</span></h3>
        </section>
  
      </section>
  
      <section class="rounded rounded-md font-Hanken flex justify-between p-[15px] bg-opacity-10 bg-OrangeyYellow my-[15px]">
  
        <section class="flex mx-[10px]">
          <img src="../assets/images/icon-memory.svg" alt="memory icon">
          <h4 class="text-OrangeyYellow mx-[10px] font-Hanken font-medium">Memory</h4>
        </section>
        <section class="mx-[10px] font-medium">
          <h3>92 <span class="text-lavender">/ 100</span></h3>
        </section>
  
      </section>
  
      <section class="rounded rounded-md font-Hanken flex justify-between p-[15px] bg-opacity-10 bg-greenTeal my-[15px]">
  
        <section class="flex mx-[10px]">
          <img src="../assets/images/icon-verbal.svg" alt="Verbal icon">
          <h4 class="text-greenTeal mx-[10px] font-Hanken font-medium">Verbal</h4>
        </section>
        <section class="mx-[10px] font-medium">
          <h3>61 <span class="text-lavender">/ 100</span></h3>
        </section>
  
      </section>
  
      <section class="rounded rounded-md font-Hanken flex justify-between p-[15px] bg-opacity-10 bg-cobaltBlue my-[15px]">
  
        <section class="flex mx-[10px]">
          <img src="../assets/images/icon-visual.svg" alt="Visual icon">
          <h4 class="text-cobaltBlue mx-[10px] font-Hanken font-medium">Visual</h4>
        </section>
        <section class="mx-[10px] font-medium">
          <h3>72 <span class="text-lavender">/ 100</span></h3>
        </section>
  
      </section>
      <section class="border text-center justify-center p-[10px] rounded rounded-2xl cursor-pointer bg-darkGray hover:bg-gradient-to-r hover:from-RoyaleBlue hover:to-slateBlue">
        <button class="text-white font-Hanken font-medium">Continue</button>
      </section>
    </section>
  </section>
</main>

<footer class="flex justify-center ">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="https://www.frontendmentor.io/profile/aponchikaj">Lazare Mirziashvili</a>.
</footer>